{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a Tweet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 left-container">
                <i class="fab fa-twitter logo"></i><br>
                <div class="wraper"><input class="search_bar"> <i class="fas fa-search"></i></div>
                <div class="profile">
                    <img src="{% static 'user.png' %}" class="avatar">
                    <h5>Username</h5>
                    <h5 style="color: #adadad">mail@email.com</h5>
                </div>
            </div>
            <div class="col-9 right-container">
                <h3>Tweets</h3>
            </div>
        </div>
    </div>
{% endblock %}
