{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Create a Tweet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 left-container">
                <i class="fab fa-twitter logo"></i><br>
                <div class="wraper"><input class="search_bar" placeholder="Search"> <i class="fas fa-search"></i></div>
                <div class="profile">
                    <img src="{% get_media_prefix%}{{ user_avatar }}" class="avatar">
                    <h5>{{ user.username|capfirst }}</h5>
                    <h5 style="color: #adadad">{{ user.email|capfirst|lower }}</h5>
                </div>
            </div>
            <div class="col-7 right-container">
                <h3>Tweets</h3>
                <div class="tweet">
                    <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                        <span>User</span>
                    </div>
                    <div class="content"><span>Donec at lacus velit. Ut finibus ligula ac turpis scelerisque venenatis. Proin
                        sem velit, malesuada nec pretium nec, venenatis eget dui. Pellentesque vulputate quam diam, sed
                        rutrum lorem vulputate vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia curae; Donec ut quam libero.</span>
                    </div>
                    <div class="footer">
                        <span>1 comments(s)</span>
                        <span style="float:right">12:00 Wednesday, 01.06.2020</span>
                    </div>
                </div>
                <div class="tweet">
                    <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                        <span>User</span>
                    </div>
                    <div class="content"><span>Donec at lacus velit. Ut finibus ligula ac turpis scelerisque venenatis. Proin
                        sem velit, malesuada nec pretium nec, venenatis eget dui. Pellentesque vulputate quam diam, sed
                        rutrum lorem vulputate vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia curae; Donec ut quam libero.</span>
                    </div>
                    <div class="footer">
                        <span>1 comments(s)</span>
                        <span style="float:right">12:00 Wednesday, 01.06.2020</span>
                    </div>
                </div>
                <div class="tweet">
                    <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                        <span>User</span>
                    </div>
                    <div class="content"><span>Donec at lacus velit. Ut finibus ligula ac turpis scelerisque venenatis. Proin
                        sem velit, malesuada nec pretium nec, venenatis eget dui. Pellentesque vulputate quam diam, sed
                        rutrum lorem vulputate vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                        posuere cubilia curae; Donec ut quam libero.</span>
                    </div>
                    <div class="footer">
                        <span>1 comments(s)</span>
                        <span style="float:right">12:00 Wednesday, 01.06.2020</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
