{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% include 'feed/left_site.html' %}
            <div class="col-7 right-container">
                <h3>Tweet</h3>
                <div class="tweet">
                    <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                        <span>{{ tweet.author.username }}</span>
                    </div>
                    <div class="content">
                        <span>{{ tweet.content }} </span>
                    </div>
                    <div class="footer">
                        <span>{{ tweet.number_of_comments }} comments(s)</span>
                        <span style="float:right">{{ tweet.add_date }}</span>
                    </div>
                </div>
                <div class="new_tweet new_comment" style="margin-top: 1em">
                    <form method="POST" action="{% url 'add_comment' %}">
                        {% csrf_token %}
                        <input name="id_post" style="display: none" value="{{ pk }}">
                        <textarea name="content" class="new_tweet_content"></textarea><br>
                        <button class="new_tweet_submit" type="submit">Add comment</button>
                    </form>
                </div>
                {% for comment in tweet.comment_set.all %}
                    <div class="comment">
                        <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                            <span>{{ comment.author.username }}</span>
                        </div>
                        <div class="content">
                            <span>{{ comment.content }} </span>
                        </div>
                        <div class="footer">
                            <span>{{ comment.add_date }}</span>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}
