{% extends "base.html" %}
{% load static %}

{% block head_title %}Home{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            {% include 'feed/left_site.html' %}
            <div class="col-7 right-container">
                <h3>Tweets</h3>
                {% for tweet in tweets %}
                    <a href="{{ tweet.url }}">
                        <div class="tweet">
                            <div class="title"><img src="{% static 'user2.png' %}" class="small-avatar">
                                <span>{{ tweet.author.username }}</span>
                            </div>
                            <div class="content">
                                <span>{{ tweet.content }} </span>
                            </div>
                            <div class="footer">
                                <span>{{ tweet.number_of_comments }} comments(s)</span>
                                <span style="float:right">{{ tweet.add_date }}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="pagination">
    <span class="step-links">
        {% if tweets.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ tweets.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ tweets.number }} of {{ tweets.paginator.num_pages }}.
        </span>

        {% if tweets.has_next %}
            <a href="?page={{ tweets.next_page_number }}">next</a>
            <a href="?page={{ tweets.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
